h1{
    font-family: Titillium Web,sans-serif !important
  }

table, th, td, tr {
    border-style: groove;
    width: 500px;
    height: 25px;
    margin: 2%;
  }
 
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Titillium Web,sans-serif

  }
.pasek_nawigacji  ul{
    list-style-type: none;
    background-color: black;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.pasek_nawigacji a{
    color: white;
    text-decoration: none;
    padding:10px;
    display: block;
    text-align: center;

    
}
.pasek_nawigacji a:hover{
    background-color: brown;
    transition: 0.4s;
}
.pasek_nawigacji li{
    float: left;

}

aside{
    width: 20%;
    padding: 20px;
    float: left;
    background-color: rgb(45, 69, 45);
}
aside ul{
    list-style-type: none;
}
section{
    width: 60%;
    float: left;
}
footer{
    display: block;
    
}