h1{
    font-family: Titillium Web,sans-serif;
    background-color:white;
    color: black;

  }


table, th, td, tr {
    border-style: groove;
    width: 500px;
    height: 25px;
    margin: 2%;
  }
 
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Titillium Web,sans-serif

  }
.pasek_nawigacji  ul{
    list-style-type: none;
    background-color:rgb(167, 67, 67);
    overflow: hidden;
    text-align: center;


    
}

.pasek_nawigacji a{
    color: white;
    text-decoration: none;
    padding:10px;
    display: block;
    width: 275PX;



    
}
.pasek_nawigacji a:hover{
    background-color: rgb(151, 30, 30);
    transition: 0.4s;
}
.pasek_nawigacji li{
    display: inline-block;
    text-align: center;

    

}
.pasek_informacji li{
    display: inline-block;
    align-items: left;
    text-align: center;
    color: white;
    margin: 8px;
    width: 50px;
}
.pasek_informacji a{
    color: white;
    text-decoration: none;


}
.pasek_informacji a:hover{
    text-decoration:underline;
}

.pasek_informacji{
    background-color:rgb(167, 67, 67) ;
}

aside{
    width: 20%;
    padding: 20px;
    float: left;
    background-color:rgb(167, 67, 67);
}
aside ul{
    list-style-type: none;
}

section{
    width: 60%;
    float: left;
}
footer{
    display: block;
    
}